<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>DINNextLTW23-Bold.ttf</string>
		<string>DINNextLTW23-Regular.ttf</string>
		<string>DINNextLTW23-Light.ttf</string>
	</array>
</dict>
</plist>
